<h1>Home</h1>


<button id="show-completed-button">Toggle Show Completed</button>

<button id="new-list-button">New List</button>

<div id="lists-container-wrapper">
    <div id="lists-container-content">
        <% @lists.each do |list| %>
        <div class="list-header">
            <%= link_to list.title, list_path(list.id), class: "list-link" %>
            <%= button_tag '+',  onclick: "\
            document.querySelector(`#list-#{list.id}-new-task-form`).classList.toggle('hide');\
            document.querySelector(`#list-#{list.id}-new-task-form input[name='task[label]']`).focus();
            " %>
            <%= button_to "x", list_path(list.id), method: :delete, data: {turbo_confirm: "Confirm delete list: #{list.title}"}%>
        </div>
        
        <%= render partial: "/lists/list_form", locals: {list: list} %>

        <% end %>
    </div>
    <%= form_with model: List.new, url: new_list_path,  html: { id: "new-list-form", class: "hide" } do |form| %>
        <%= form.text_field :title, id: "new-list-input", placeholder: "New list..." %>
    <% end %> 
</div>




<script>
    document.querySelector("#new-list-button").addEventListener('click', () => {
        const form = document.querySelector("#new-list-form")
        form.classList.toggle('hide')
        if (!form.classList.contains('hide'))
            document.querySelector("#new-list-input").focus()

    })

    // document.querySelector("#new-list-input").addEventListener('keydown', (e) => { // hide it when pressing escape
    //     if (e.key === 'Escape')
    //     {
    //         e.preventDefault()
    //         e.target.value = ''
    //         e.target.blur()
    //         document.querySelector("#new-list-form").classList.add('hide')
    //     }
    // }) 

    document.querySelector("#show-completed-button").addEventListener('click', () => {
        document.querySelectorAll(".completed-tasks-container").forEach(el => {
            el.classList.toggle('hide')
        });

        console.log(!document.querySelector(".completed-tasks-container").classList.contains('hide'))
        sessionStorage.setItem('show_completed', !document.querySelector(".completed-tasks-container").classList.contains('hide'))
        console.log(sessionStorage.getItem('show_completed'))
    })

    if (sessionStorage.getItem('show_completed') == 'true')
    {
        document.querySelectorAll(".completed-tasks-container").forEach(el => {
            el.classList.remove('hide')
        });
    }


</script>